/******************** Global Styles ********************/
body {
  background: #ffffff;
  color: #333333;
  margin-top: 4rem;
  min-height: 100%;
}

img, embed, object, video {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d3e44;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

ul {
  margin: 0;
}

.form-control:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}


.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  height: 5rem;
}

.bg-steel {
  background-color: #ffffff;
}

.site-header .navbar-brand {
  color: #000000;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: bolder;
}

.site-header .navbar-brand:hover {
  color: #000000;
}

.site-header .navbar-nav {
  display: flex;
  background-color: white;
  text-align: center;
  flex-direction: column;
}

.site-header .navbar-nav .nav-link {
  color: #4e4e53;
}

.site-header .navbar-nav .nav-link:hover {
  color: #E03131;
  text-decoration: underline;
}

.site-header .navbar-nav .nav-link .current {
  color: blue;
}

.site-header .navbar-nav .nav-link:active {
  font-weight: bold;
}

.dropdown-item:active {
  background-color: #E03131;
  color: white;
}

.jumbotron {
  border-radius: 0;
}

.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn-dark {
  background-color: #000000 !important; /* rgba(224, 49, 49, 1) */
  border: 5px;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 1rem 1rem;
  color: white;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.btn-dark:hover {
  background-color: #000000;
  border: none;
  opacity: 0.8;
  outline: none;
  box-shadow: none;
}

.btn-secondary {
  background-color: #fafafa; /* rgba(224, 49, 49, 1) */
  border: none;
  border-radius: 100rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 1rem 1.5rem;
  color: #4e4e53;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #fafafa; /* rgba(224, 49, 49, 1) */
  border: none;
  color: #4e4e53;
  cursor: pointer;
  opacity: 0.8;
}

.content-section {
  background: #ffffff;
  padding: 2rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 4rem;
  flex-basis: 30%;
  margin-top: 4rem;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 250px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.navbar-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.navbar-nav {
  align-items: center;
}

.account-heading {
  font-size: 2.5rem;
}

.alert {
  margin-top: 1rem;
}

/******************** Footer ********************/

.footer-row {
  border-top: 1px ridge rgba(0,0,0,.125);
  padding-top: 6rem;
  background-color: #29292C;
  color: #b5b5c0;
  padding-bottom: 2rem;
}

.footer-row h5 {
  color: #ffffff;
}

.footer-wrapper {
  /*display: flex; */
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-wrapper a {
  color: #b5b5c0;
  margin-bottom: 0.5rem;
}

.footer-wrapper a:hover {
  color: #E03131;
}

.footer-mobile {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-column-one {
  /* width: 40%; */
  width: 100%;
  padding-right: 2rem;
  /* padding-right: 6rem; */
}

.footer-column-one h4 {
  color: #ffffff;
  font-size: 1.75rem;
}

.footer-column-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* width: 20%; */
}

.footer-column-three {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* width: 20%; */
}

.social-media-links a {
  color: #b5b5c0;
  padding-right: 20px; 
  text-decoration: none;
  text-align: center;
  /* width: 20%; */
}


.social-media-links a:hover {
  color: #E03131;
}

.copyright a {
  color: #b5b5c0;
}

.copyright a:hover {
  color: #E03131;
}

/******************** Home Page ********************/

.homepage-wrapper {
  margin-bottom: 4rem;
}

.wrapper-welcome {
  display: flex; 
  flex-direction: column-reverse;
  justify-content: space-between;
 /* margin-top: 6rem; */
 /* margin-bottom: 4rem; */
  margin-top: 4rem;
}

.wrapper-welcome-half {
 /* width: 50%; */
  width: 100%;
  margin-top: 2rem;
  /*padding: 9rem 0;*/
}

.wrapper-welcome-half .btn-dark {
  width: 30%;
}

.wrapper-welcome-half h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  font-color: #3d3e44;
  margin-bottom: 1.5rem;
  margin: 0, 0, 0.5rem;
}

.wrapper-welcome-half p {
  margin-bottom: 2rem;
}

.wrapper-welcome-half-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 50%; */
  width: 100%;
  height: 42.5vh;
 /* height: 36rem; */
} 

.below-wrapper-content {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-color: #F9F9F9;
}

.topics-heading h2 {
  text-align: center;
  /* padding-top: 2rem; */
  line-height: 1.25;
  font-color: #3d3e44;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: bold;
  font-color: #3d3e44;
}

.topics-heading p {
  text-align: center;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.topics {
   /*display: flex; */
}

.topics p{
  text-align: center;
  font-weight: bold;
}

.feature1 {
  text-align: center;
  /* width: 24%; */
  width: 100%;

}

.feature2 {
  /* width: 24%; */
  text-align: center;
  width: 100%;
}

.feature3 {
  width: 100%;
  text-align: center;
}

.feature4 {
  width: 100%;
  text-align: center;
}


/******************** Blog Page ********************/

.blog-wrapper-header {
  margin-top: 2.5rem;
}


.blog-wrapper-header h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  font-color: #3d3e44;
  margin-bottom: 2rem;
}

.guide-detail-wrapper {
  margin-top: 2.5rem;
}


.guide-detail-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  font-color: #3d3e44;
  margin-bottom: 2rem;
}

.blog-wrapper-header p {
/*  margin-bottom: 1.5rem;*/
  line-height: 1.6;
  font-color: #454547;
}

.blog-wrapper-header ul {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #E03131;
}

.blog-wrapper-header ul li {
  margin-right: 1rem;
}

.blog-wrapper-header ul li a {
  color: #3d3e44;
  text-decoration: underline;
}

.blog-wrapper-header ul li a:hover {
  color: #E03131;
}

.category-filters {
  background-color: #F9F9F9;
  text-align: center;
}

.category-filters  {
  display: flex;
}

.highlight-post {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a.highlight-post {
  text-decoration: none;
}

.highlight-post-thumbnail {
  width: 50%;
}

.highlight-post-thumbnail img {
  width: 100%;
}

.highlight-post-half-content {
  width: 50%;
  padding: 2rem;
}

.container .highlight-post-half-content {
  text-decoration: none;
  color: #454547;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.guide-wrapper {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.thumbnail {
  height: 37.5vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.guide-wrapper .guide-body {
  padding: 1rem;
}

.container-wrapper .guide-wrapper {
  text-decoration: none;
  color: #454547;
}

/******************** Post Detail Page ********************/

.post-detail-container-wrapper {
  display: flex;
  align-items: top;
}

.post-detail-wrapper {
  width: 75%;
  margin-bottom: 2rem;
}

.post-detail-margin {
  width: 25%;
  padding-right: 1rem;
  margin-top: 8rem;
}

.article-title {
  margin-top: 2rem;
  line-height: 2;
}

.post-meta {
  margin-bottom: 4rem;
}

.post-meta img {
  border: 2px solid #E03131
}

.post-detail-thumbnail {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.blog-body {
  padding-left: 0;
  padding-right: 2rem;
}

.guide-page-wrapper {
  padding-bottom: 4.5rem;
}

/******************** Courses Page ********************/

.nav-link {
  display: inline-flex;
  color: #3d3e44;
}

.nav-link:hover {
  text-decoration: underline;
  color: #E03131;
}

.nav-link:active {
  font-weight: bold;
}

.course-page-wrapper {
  padding-bottom: 1rem;
  margin-top: 7rem;
}

.course-page-wrapper h1 {
  font-size: 2rem;
  text-align: center; 
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;

}

.courses-wrapper-header {
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

/* .courses-wrapper-header h2 {
  font-size: 2.625em;
  font-weight: 500;
  line-height: 1.25;
  font-color: #3d3e44;
  margin-bottom: 4rem;
} */


.courses-wrapper-header h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  font-color: #3d3e44;
}

.courses-wrapper-header ul {
  border-top: 1px solid rgba(0, 0, 0, .125);
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.courses-wrapper-header ul li {
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.courses-wrapper-header ul li a {
  color: #3d3e44;
}

.courses-wrapper-header ul li a:hover {
  color: #E03131;
  text-decoration: underline;
}

.courses-wrapper-header h3 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  color: #3d3e44;
}

.course-wrapper {
  /* width: 32%; */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .125);
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.course-body {
  padding: 1rem;
}

.container-wrapper .course-wrapper {
  text-decoration: none;
  color: #454547;
}

.course-detail-body {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column-reverse;
}


.course-content {
  width: 100%;
  padding: 0 0 4rem 0;
}


/******************** Books Page ********************/

.books-page-wrapper {
  padding-bottom: 4rem;
  width: 100%;

}

.books-container {
  margin-top: 2.5rem;
}

.books-container h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  color: #3d3e44;
  margin-bottom: 2rem;
}


.books-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.books-container-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.books-container-wrapper .books-wrapper {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  position: relative;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.books-wrapper img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.books-body {
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  color: black;
}

/******************** Contact Page ********************/

.contact-wrapper {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 4rem;
  justify-content: space-around;
}

.contact-form-wrapper {
  width: 100%;
}

.contact-form-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
  color: #3d3e44;
  margin-bottom: 2rem;
}

/******************** Contact Success Page ********************/

.contact-success-wrapper {
  margin-bottom: 10rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

/******************** Course Detail Page ********************/

.course-banner {
  background: linear-gradient(135deg,
              rgba(0, 0, 0, 0.8) 0%,
              rgba(0, 0, 0, 0.3) 50%);
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*.course-detail-banner {
  align-items: center;
  display: flex;
}*/


.share {
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
}

.share h4 {
  display: none;
}

.course-detail-wrapper {
  display: flex;

}

.course-detail-index {
  width: 20%;
}

.course-detail-content {
  width: 70%;
}

.course-syllabus-wrapper {
  display: flex;
}

.course-content {
  font-size: 1rem;
}

.heading-title {
  color: #E03131;
}

/******************** Newsletter Page ********************/

.newsletter-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
}

.newsletter-form-wrapper {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 2rem;
  /*width: 50%;*/
  width: 100%;
}

.newsletter-form-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}

/******************** Guide Details Page ********************/
.guide-body {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.guide-wrapper {
  padding-top: 1.5rem;
}

.guide-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}
/******************** Login Page ********************/

.login-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.login-form-wrapper {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 2rem;
  /*width: 50%;*/
  width: 100%;
}

.login-wrapper a {
  color: #4e4e53;
  text-decoration: underline;
}

.login-wrapper a:hover {
  color: #E03131;
}

.login-form-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}

/******************** Register Page ********************/

.register-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.register-form-wrapper {
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
  padding: 2rem;
  /*width: 50%;*/
  width: 100%;
}

.register-form-wrapper h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}

.register-wrapper a {
  color: #4e4e53;
  text-decoration: underline;
}

.register-wrapper a:hover {
  color: #E03131;
}


/******************** About Page ********************/

.about-heading {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.about-heading h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}

.about-wrapper {
  margin-bottom: 5rem;
}

.support-section {
  background-color: #E03131;
  color: white;
  height: 20rem;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
  box-shadow: 0 15px 35px rgba(126,87,88,.1), 0 5px 15px rgba(0,0,0,.07);
}

.support-section h3 {
  color: white;
}

.tab-container ul {
  list-style: none;
  padding-left: 0;
}

.tab-container ul li.active-tab a {
    background: #E03131;
    color: #fff;
    font-weight: bold;
}


.tab-container ul li a {
    display: block;
    font-size: 1rem;
    color: #444;
    line-height: 1.5em;
    padding: 7px;
    margin-left: -7px;
    max-width: 210px;
    border-radius: 3px;
}

/******************** Privacy Page ********************/

.privacy-page-wrapper {
  margin-top: 4rem;
  padding-bottom: 4rem
}


/******************** Terms Page ********************/
.terms-page-wrapper {
  margin-top: 4rem;
  padding-bottom: 4rem
}


.essay-title {
  position: relative;
  bottom: 15rem;
  color: white;
  font-size: 3rem;
  padding: 0 2rem 0 2rem;
  background: linear-gradient(135deg,
              rgba(0, 0, 0, 0.8) 0%,
              rgba(0, 0, 0, 0.3) 50%);
}