{% extends 'blog/base.html' %}
{% block content %}
	<div class="container">
		<div class="about-heading">
			<h1><center>Why I Write?</center></h1>
		</div>
		<div class="about-wrapper">
			<div class="about-section">
				<p>Hi there, I am Vishwajit Singh, an independent writer.</p>
				<p>I write to share my interpretation of the world and to sort out what I think and feel.</p>
				<p>I share ideas in the form of essays on topics that are relevant to the human condition. If ideas on work, learning how to think, self-knowledge, personal growth, and society interest you, please check out the available essays and let me know what you think through your comments, questions, or suggestions.</p>
				<p>I believe education is about getting people to think for themselves and therefore, the ideas and tools I share are only there to help you figure out for yourself what you think and feel is right for you.</p>				
<!-- 				<p>I am currently bootstrapping this initiative and I rely on your support to keep this site running. I am not associated with any organization, corporation or university.</p> -->
<!-- 				<p>Please support Perceptive Life by either sharing the available essays with others if you resonate with them or by letting me know what you think through comments, questions, suggestions, and compliments.</p> -->
				<p>Thank you for reading!</p>
				<p>Vishwajit</p>
			</div>
<!-- 			<div class="support-section">
				<h3>Support Us</h3>
				<p>Perceptive is possible thanks to the contribution of its readers. If you have the means and our insights have helped you, please consider supporting us!</p>
				<button class="btn btn-secondary">Support Us</button>
			</div> -->
		</div>
	</div>
{% endblock content %}