{% extends 'blog/base.html' %}
{% block content %}
		
	<div class="container">
		<div class="about-heading">
			<h1>About Us</h1>
		</div>
		<div class="about-wrapper">
			<div class="about-section">
				<p>Hi there, I am Vishwajit Singh, founder of NoGrade Academy.</p>
				<p>NoGrade Academy is an online education platform that focuses on sharing insights and ideas on better navigating your life and career.</p>
				<p>If you are interested in learning how to think, understanding and growing yourself, and focusing on adding value to the life of others through your work and projects, check out the available courses and let me know if you have any comments or suggestions.</p>
				<p>I believe education is about getting people to think for themselves. Our life experience can also sharpen our ability to think for ourselves and we should always be correcting long years of instructional education based on our life experience.</p>
				<p>I am currently bootstrapping this initiative and I rely on your support to add new courses and update the old ones as needed. I am not associated with any organization, corporation or university.</p>
				<p>Please support NoGrade Academy by either sharing the available courses with others or if you have the means through financial contribution option available on our support page.</p>
				<p>In case you have any questions or feedback, please feel free to contact me.</p>
				<p>Happy learning!</p>
				<p>Vishwajit</p>
			</div>
			<div class="support-section">
				<h3>Support Us</h3>
				<p>NoGrade Academy is possible thanks to the contribution of its learners. If you have the means and our courses have helped you, please consider supporting us!</p>
				<button class="btn btn-secondary">Support Us</button>
			</div>
		</div>
	</div>

	<br>

{% endblock content %}