{% extends 'blog/base.html' %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>About Us</h1>
		</div>	
	</div>

	<div class="container">
		<p>Camp for Code is an online non-profit bootcamp that teaches you technology skills to start your own web based company or gain employment.</p>
		<p>We believe that quality education should be accessible to all and are committed to making technology education affordable for all.</p>
		<p>We understand the importance of a mentor or guide and are there with you through every step of your learning journey.</p>
		<p>We teach you today's relevant skills and prepare you for the future</p>
		<p>Using the focused and diffused modes of thinking.</p>
		<p>Videos no longer than 25 minutes. Pomodoro technique - 25 minutes of steady concentration with no disruptions.</p>
		<p>Practice makes permanent.</p>
		<p>Working memory -> Long term memory | Spaced repetition</p>
		<p>Spaced repetition allows you to build stronger neural structures by repeating what you are learning over a number of days.</p>
		<p>Our Values</p>
		<p>Roadmap services</p>
		<p>Making digital skills affordable and accessible to all.</p>
	</div>
{% endblock content %}