{% extends 'blog/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
	<div class="container">
		<header class="blog-wrapper-header">
			<h1><center>All Guides</center></h1>
<!-- 			<p class="text-muted">Browse and download all available guides below.</p> -->
<!-- 			<ul class="category-filters">
			</ul> -->
		</header>
	</div>

	<div class="container">
		<div class="container-wrapper">
			{% for post in posts %}
				<a class="guide-wrapper" href="{% url 'post-detail' post.slug %}">
<!-- 				  	<div class="blog-thumbnail">
		    			<img class="thumbnail" src="{{ post.thumbnail.url }}"/>
		    		</div> -->
		    		<div class="guide-body">
		    			<h5>{{ post.title }}</h5>
				    	<p class="article-content">{{ post.snippet|safe }}</p>
		    		</div>
				</a>
			{% endfor %}
		</div>

		<div class="paginator">
			{% if is_paginated %}
		    	{% if page_obj.has_previous %}
		        	<a class="btn btn-outline-primary" href="?page=1">First</a>
		        	<a class="btn btn-outline-primary-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		      	{% endif %}
		      	
		      	{% for num in page_obj.paginator.page_range %}
		        	{% if page_obj.number == num %}
		          		<a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
		        	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
		          		<a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
		        	{% endif %}
		      	{% endfor %}

		      	{% if page_obj.has_next %}
		        	<a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
		        	<a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		      	{% endif %}
		    {% endif %}
		</div>
	</div>	
{% endblock content %}
