{% extends 'blog/base.html' %}
{% block content %}
	<div class="container">
		<div class="books-container">
			<div class="books">
				<div class="books-header-wrapper">
					<div class="tab-container">
						<ul>
						    <li class="active-tab">
						        <a href="{% url 'blog-books' %}" class="ga-track">All<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-work' %}" class="ga-track">Work<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-thinking' %}" class="ga-track">Thinking<span>›</span></a>
						    </li>					    
						    <li class="">
						        <a href="{% url 'blog-books-self-knowledge' %}" class="ga-track">Self-Knowledge<span>›</span></a>
						    </li>					    
						    <li class="">
						        <a href="{% url 'blog-books-personal-growth' %}" class="ga-track">Personal Growth<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-society' %}" class="ga-track">Society<span>›</span></a>
						    </li>
						</ul>
					</div>
				</div>	

				<div class="books-page-wrapper">
					<h1><center>All Books</center></h1>
					<div class="books-container-wrapper">
						{% for books in books_work %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
					    		<!-- <div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>


					<div class="books-container-wrapper">
						{% for books in books_thinking %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
	<!-- 				    		<div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>


					<div class="books-container-wrapper">
						{% for books in books_self_knowledge %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
	<!-- 				    		<div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>

					<div class="books-container-wrapper">
						{% for books in books_personal_growth %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
	<!-- 				    		<div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>
					<div class="books-container-wrapper">
						{% for books in books_society %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
	<!-- 				    		<div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock content %}