{% extends 'blog/base.html' %}
{% block content %}
	<div class="container">
		<div class="books-container">
			<div class="books">
				<div class="books-header-wrapper">
					<div class="tab-container">
						<ul>
						    <li class="active-tab">
						        <a href="{% url 'blog-books' %}" class="ga-track">All<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-entrepreneurship' %}" class="ga-track">Entrepreneurship<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-philosophy' %}" class="ga-track">Philosophy<span>›</span></a>
						    </li>					    
						    <li class="">
						        <a href="{% url 'blog-books-psychology' %}" class="ga-track">Psychology<span>›</span></a>
						    </li>					    
						    <li class="">
						        <a href="{% url 'blog-books-personal-growth' %}" class="ga-track">Personal Growth<span>›</span></a>
						    </li>
						    <li class="">
						        <a href="{% url 'blog-books-society' %}" class="ga-track">Society<span>›</span></a>
						    </li>
						</ul>
					</div>
				</div>	
				<div class="books-page-wrapper">
					<h1><center>Psychology</center></h1>
					<div class="books-container-wrapper">
						{% for books in books_psychology %}
							<a class="books-wrapper" href="{{ books.amazon_url }}">
					    		<img class="thumbnail" src="{{ books.thumbnail.url }}" alt="{{ books.alt_text }}"/>
		<!-- 			    		<div class="books-body">
					    			<p class="article-title"><strong>{{ books.title }}</strong></p>
							    	<p class="article-content">{{ books.author }}</p>
					    		</div> -->
							</a>
						{% endfor %}
					</div>
					<p>Note: VS OPC Pvt. Ltd. participates in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn commissions by linking to Amazon.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}	