{% extends 'blog/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="contact-wrapper">
			<div class="contact-form-wrapper">
				<h1><center>Contact Me</center></h1>
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}	
					</fieldset>
					<div class="form-group">
						<button class="btn btn-dark" type="submit">Message</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
{% endblock content %}