{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="homepage-wrapper">
			<header class="wrapper-welcome">
				<div class="wrapper-welcome-half">
					<h1>Essays on the <span class="heading-title">human condition</span>.</h1>
					<p>Suggestions and tools for navigating life.</p>
					<a href="{% url 'all-essays' %}" class="btn btn-dark">Explore essays</a>
				</div>
				<img class="wrapper-welcome-half-image" src="{% static 'education.jpg' %}" alt="human condition" >
			</header>
		</div>
	</div>
	<div class="below-wrapper-content">
		<div class="container">
			<div class="topics-heading">
				<h2>What do I write on?</h2>
			</div>
			<div class="topics">
				<div class="feature">
					<a class="course-thumbnail" href="{% url 'essays-work' %}">
						<img class="thumbnail" src="{% static 'noun_work.png' %}" alt="work">
					</a>
					<br>
					<p>Work</p>
				</div>
				<div class="feature">
					<a class="course-thumbnail" href="{% url 'essays-thinking' %}">
						<img class="thumbnail" src="{% static 'noun_thinking.png' %}" alt="thinking">
					</a>
					<br>
					<p>Thinking</p>
				</div>
				<div class="feature">
					<a class="course-thumbnail" href="{% url 'essays-self-knowledge' %}">
						<img class="thumbnail" src="{% static 'noun_self_knowledge.png' %}" alt="self-Knowledge">
					</a>
					<br>
					<p>Self-Knowledge</p>
				</div>
				<div class="feature">
					<a class="course-thumbnail" href="{% url 'essays-personal-growth' %}">
						<img class="thumbnail" src="{% static 'noun_personal_growth.png' %}" alt="personal growth">
					</a>
					<br>
					<p>Personal Growth</p>
				</div>
				<div class="feature">
					<a class="course-thumbnail" href="{% url 'essays-society' %}">
						<img class="thumbnail" src="{% static 'noun_society.png' %}" alt="society">
					</a>
					<br>
					<p>Society</p>
				</div>
			</div>
		</div>
	</div>	
{% endblock content %}
