{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="homepage-wrapper">
			<header class="wrapper-welcome">
				<div class="wrapper-welcome-half">
					<h2>Education for curious learners.</h2>
					<p>Teach yourself skills to better navigate your career and life.</p>
					<a href="{% url 'learn-courses' %}" class="btn btn-info">Start learning today</a>
				</div>
				<div class="wrapper-welcome-half-image">
				</div>
			</header>
		</div>
	</div>
	<div class="container">
	<div class="below-wrapper-content">
	
			<div class="topics-heading">
				<h3>What can you learn?</h3>
				<p>At NoGrade Academy, we share insights and ideas on learning how to think, understanding how you are wired, and personal growth.</p>
			</div>
			<div class="topics">
				<div class="feature1">
					<a class="course-thumbnail" href="{% url 'learn-courses-philosophy' %}">
						<img class="thumbnail" src="{% static 'noun_philosophy.png' %}">
					</a>
					<br>
					<p>Learning how to think</p>
				</div>
				<div class="feature2">
					<a class="course-thumbnail" href="{% url 'learn-courses-psychology' %}">
						<img class="thumbnail" src="{% static 'noun_psychology.png' %}">
					</a>
					<br>
					<p>How are you wired?</p>
				</div>
				<div class="feature3">
					<a class="course-thumbnail" href="{% url 'learn-courses-personal-growth' %}">
						<img class="thumbnail" src="{% static 'noun_personal growth.png' %}">
					</a>
					<br>
					<p>Personal Growth</p>
				</div>
				<div class="feature4">
					<a class="course-thumbnail" href="{% url 'learn-courses-entrepreneurship' %}">
						<img class="thumbnail" src="{% static 'noun_entrepreneur.png' %}">
					</a>
					<br>
					<p>Being Enterprising</p>
				</div>
			</div>
		</div>	
	</div>
{% endblock content %}
