{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
		<div class="newsletter-wrapper">
			<div class="newsletter-form-wrapper">
				<h1><center>Newsletter</center></h1>
				<p>Subscribe for actionable advice and tips to help navigate your life and career. No spam ever!</p>
				<br>
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}	
					</fieldset>
					<div class="form-group">
						<button class="btn btn-info" type="submit">Subscribe</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
{% endblock content %}