{% extends 'blog/base.html' %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Services</h1>
		</div>
	</div>
	<div class="container">
		<p>Hi there! I am Vishwajit. I use this website as a brain dump for some of my work and to keep track of what i have enjoyed reading, writing and watching. My current interests include philosophy, psychology, technology, and entrepreneurship.</p>
		<p>I am an independent Technology for Development consultant with over 9 years of project experience across Asia and Africa. I offer services in Data Science, Full Stack Web Development, and Technology Project Management.</p>
	</div>
{% endblock content %}