{% extends 'blog/base.html' %}
{% block content %}
	<div class="container">
		<div class="terms-page-wrapper">
			<div class="terms-heading">
				<h1><center>Terms of Reference</center></h1>
			</div>	
			<p><strong>Affiliate Terms</strong></p>
			<p>vishwajitsingh.com participates in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn commissions by linking to Amazon.</p>
			<p>In plain English, if you buy a book from Amazon that we recommend, we get a small commission. It's not much, but it's something. vishwajitsingh.com takes hundreds of hours to run each month, and this is a small way for us to recoup part of the expenses of running this site without affecting your user experience. This is at no extra cost to you.</p>
			<br>
			<p><strong>Additional Terms</strong></p>
			<p>The content provided on vishwajitsingh.com is based on author's personal opinion and experiences, and it should be used for informational, entertainment, and resource purposes only. It should not be a substitute for advice given by any professional.</p>
			<p>vishwajitsingh.com works to provide the most up-to-date information possible. However, we will not be responsible for any loss/and or damage that may occur as a result of the information or recommended products on this blog or any affiliated blog/website. It is understood that people using the information on this site are solely responsible for how they perceive and implement it.</p>
		</div>
	</div>
{% endblock content %}