{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}
	<div class="container">
		<header class="courses-wrapper-header">
			<h2>Courses designed to make you a better person.</h2>
			<ul class="category-filters">
				<li><a href="{% url 'learn-courses' %}">All</a></li>
				<li><a href="{% url 'learn-courses-entrepreneurship' %}">Being enterprising</a></li>
				<li><a href="{% url 'learn-courses-philosophy' %}">Learning how to think</a></li>
				<li><a href="{% url 'learn-courses-psychology' %}">How are you wired?</a></li>
				<li><a href="{% url 'learn-courses-personal-growth' %}">Personal Growth</a></li>
			</ul>
		</header>
	</div>

	<div class="container">
		<h3>How are you wired?</h3>
		<div class="container-wrapper">
			{% for course in courses_psychology %}
				<a class="course-wrapper" href="{% url 'learn-course-details' course.slug %}">
				  	<div class="course-thumbnail">
		    			<img class="thumbnail" src="{{ course.thumbnail.url }}"/>
		    		</div>
		    		<div class="course-body">
		    			<h5>{{ course.course_title }}</h5>
				    	<p class="article-content">{{ course.course_details|safe }}</p>
		    		</div>
				 </a>
			{% endfor %}
		</div>
	</div>
{% endblock content %}