{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}
	<header class="courses-wrapper-header">
		<nav class="category-filters">
			<div class="container">
				<a class="nav-item nav-link" href="{% url 'learn-courses' %}">All</a>
				<a class="nav-item nav-link" href="{% url 'learn-courses-entrepreneurship' %}">Work</a>
				<a class="nav-item nav-link" href="{% url 'learn-courses-philosophy' %}">Thinking</a>
				<a class="nav-item nav-link" href="{% url 'learn-courses-psychology' %}">Self-Knowledge</a>
				<a class="nav-item nav-link" href="{% url 'learn-courses-personal-growth' %}">Personal Growth</a>
				<a class="nav-item nav-link" href="{% url 'learn-courses-society' %}">Society</a>
			</div>	
		</nav>
	</header>
	
	<div class="container">
		<div class="course-page-wrapper">
			<h1>All Essays</h1>	
			<div class="container-wrapper">
				{% for course in courses %}
					<a class="course-wrapper" href="{% url 'learn-course-details' course.slug %}">
						<div class="course-thumbnail">
							<img class="thumbnail" src="{{ course.thumbnail.url }}" alt="{{ course.alt_text }}"/>
						</div>
						<div class="course-body">
							<h5>{{ course.course_title }}</h5>
						    <p class="article-content">{{ course.course_details|safe }}</p>
						</div>
					</a>
				{% endfor %}
			</div>	
		</div>
	</div>
{% endblock content %}