{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}
	<header class="courses-wrapper-header">
		<nav class="category-filters">
			<div class="container">
				<a class="nav-item nav-link" href="{% url 'all-essays' %}">All</a>
				<a class="nav-item nav-link" href="{% url 'essays-work' %}">Work</a>
				<a class="nav-item nav-link" href="{% url 'essays-thinking' %}">Thinking</a>
				<a class="nav-item nav-link" href="{% url 'essays-self-knowledge' %}">Self-Knowledge</a>
				<a class="nav-item nav-link" href="{% url 'essays-personal-growth' %}">Personal Growth</a>
				<a class="nav-item nav-link" href="{% url 'essays-society' %}">Society</a>
			</div>	
		</nav>
	</header>


	<div class="container">
		<div class="course-page-wrapper">
			<h1>Part II : Thinking</h1>
			<div class="container-wrapper">
				{% for essay in essays_thinking %}
					<a class="course-wrapper" href="{% url 'essay-details' essay.slug %}">
					  	<div class="course-thumbnail">
			    			<img class="thumbnail" src="{{ essay.thumbnail.url }}" alt="{{ essay.alt_text }}"/>
			    		</div>
			    		<div class="course-body">
			    			<h5>{{ essay.essay_title }}</h5>
					    	<p class="article-content">{{ essay.essay_details|safe }}</p>
			    		</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}