{% extends 'blog/base.html' %}
{% load static from staticfiles %}
{% block content %}
	<div class="banner">
		<div class="container">
			<h1>Welcome to Self Learners Academy</h1>
			<p>Teach yourself skills to better navigate your career and life.</p>
			<a href="{% url 'learn-courses' %}" class="btn btn-info">Start learning today</a>
		</div>
	</div>

	<div class="container">
		<div class="features-wrapper">
			<div class="feature1">
				<img src="{% static 'diamond.png' %}">
				<h5>Easy to understand content</h5>
				<p>Content for students with no prior experience in coding.</p>
			</div>
			
			<div class="feature2">
				<img src="{% static 'briefcase.png' %}">
				<h5>Project based learning</h5>
				<p>Learn concepts by applying them in real world projects.</p>
			</div>
			
			<div class="feature3">
				<img src="{% static 'laptop.png' %}">
				<h5>Hiring Assistance</h5>
				<p>Prepare for employment with our one on one mentorship.</p>
			</div>
		</div>

		<h3>Web Development</h3>	
		<div class="row">
			{% for course in courses_web_development %}
				<div class="col-sm-4">
					<article class="media content-section">
					  <div class="media-body">
					    <h5><a class="article-title" href="{% url 'learn-course-details' course.slug %}">{{ course.course_title }}</a></h5>
					    <p class="article-content">{{ course.course_details|safe }}</p>
					  </div>
					</article>
				</div>
			{% endfor %}
		</div>
		<h3>Entrepreneurship</h3>	
		<div class="row">
			{% for course in courses_entrepreneurship %}
				<div class="col-sm-4">
					<article class="media content-section">
					  <div class="media-body">
					    <h5><a class="article-title" href="{% url 'learn-course-details' course.slug %}">{{ course.course_title }}</a></h5>
					    <p class="article-content">{{ course.course_details|safe }}</p>
					  </div>
					</article>
				</div>
			{% endfor %}
		</div>
		<h3>Personal Growth</h3>	
		<div class="row">
			{% for course in courses_personal_growth %}
				<div class="col-sm-4">
					<article class="media content-section">
					  <div class="media-body">
					    <h5><a class="article-title" href="{% url 'learn-course-details' course.slug %}">{{ course.course_title }}</a></h5>
					    <p class="article-content">{{ course.course_details|safe }}</p>
					  </div>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}